@import 'sidebarMenu.css';
@import 'header.css';
@import 'movieList.css';


.wrapper{
	display: flex;
	overflow: hidden;
	height: 100%;
}

.sidebar{
	display:block;
	min-width: 400px;
	background: #383838;
}


.container{
	display: flex;
	flex-direction: column;
	overflow-x:scroll;
}



.content{
	flex:1;
	display: flex;
	padding-top: 20px;
	padding-left: 26px;



	background:#c4c4c4;
}


