@import 'sidebarMenu.css';
@import 'header.css';
@import 'movieList.css';


.wrapper{
	display: flex;
	overflow: hidden;
	height: 100vh;
}

.sidebar{
	display:block;
	min-width: 400px;
	background: #383838;
	height: 100%;
	position: absolute;
}

.container{
	flex:1;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 400px;
	overflow-y: scroll;
}

.content{
	flex:1;
	display: flex;
	max-width: calc(95% - 400px);
}

.movie-list{
	display: flex;
	margin-left: 26px;
	flex-direction: row;
	column-gap: 20px;
	justify-content: space-between;
	max-width: 100%;
	flex-wrap: wrap;

}

.movie-list--item{

	font-family: Open Sans,sans-serif;
	display: block;
	width: 370px;
	height: 700px;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin-top: 20px;
}


